# Exclude everything
/*

# Except for default project files
!/.github
!/build-aux
!/cmake
!/data
!/i18n
!/macos
!/src
!/sdk
!.clang-format
!.cmake-format.json
!.gitignore
!buildspec.json
!buildspec.json.in
!CMakeLists.txt
!CMakePresets.json
!LICENSE
!README.md
!avermedia_deps.cmake

# Exclude lock files
*.lock.json

# Exclude macOS legacy resource forks
.DS_Store

# Exclude CMake build number cache
/cmake/.CMakeBuildNumber
